server {
    if ($host = marginswap.io) {
        return 301 https://$host$request_uri;
    } # managed by Certbot

    if ($host = '167.71.64.25') {
        return 444;
    }

    listen 80;
    server_name marginswap.io;
    return 404; # managed by Certbot
}

geo $dollar {
    default "$";
}

server {
    listen 443 ssl default_server;
    server_name marginswap.io;

    server_tokens off;
    add_header X-Frame-Options "SAMEORIGIN";
    add_header X-Content-Type-Options nosniff;
    add_header X-XSS-Protection "1; mode=block";
    add_header Strict-Transport-Security "max-age=31536000; includeSubdomains; preload";

    add_header Cache-Control "no-cache, no-store, must-revalidate";
    add_header Pragma "no-cache";

    ssl_certificate /etc/letsencrypt/live/marginswap.io/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/marginswap.io/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

    gzip            on;
    gzip_types      text/plain application/xml text/css application/javascript;
    gzip_min_length 10;

    error_page 503 /maintenance_page.html;
    location = /maintenance_page.html {
        root /home/;
    }

    location = /robots.txt {
       add_header Content-Type text/plain;
       return 200 "User-agent: Disallow: /";
    }

    location / {
        if (-f /home/maintenance_page.html) {
            return 503;
        }
        root   /home/MarginSwap/frontend/dist/;
        index  index.html;
        try_files $uri $uri/ /index.html;
    }

#    location /static/ {
#        alias   /home/django/tradeium/backend/staticfiles/;
#    }

    if ($host !~* ^(marginswap.io)$ ) {
        return 444;
    }

    if ($host = '167.71.64.25') {
        return 444;
    }

    location /hooks/ {
        try_files $uri @proxy;
    }

    location @proxy {
        proxy_pass http://webhooks;
    }
}

upstream webhooks {
    server 0.0.0.0:9001;
}
